<div class="post-preview">
    <a href="{{ .RelPermalink }}">
        <h2>{{ .Title }}</h2>
    </a>
    <h7 class="post-meta my-2 text-muted">Published {{ dateFormat .Site.Params.DateForm .Date }}</h7>
    <div class="post-summary my-2">
        {{ .Summary }}
    </div>
    {{ if .Truncated }}
        <a class="btn btn-sm btn-outline-info my-2" href="{{ .RelPermalink }}">Continue reading</a>
    {{ end }}
</div>
<hr>
