<iframe loading="lazy" src="https://donate.kicad.org/?location={{ .Page.RelPermalink }}" style="border: 0px; width: 100%; height: 650px;"></iframe>
<hr>
<h2>Alternate Donation Option</h2>
<h3>The Linux Foundation&reg;</h3>
<p>
    Donating to KiCad via The Linux Foundation provides funds for project development and the developers behind it. Donations are accepted via credit card and purchase order (US&dollar; only). The Linux Foundation is a 501(c)(6) non-profit organization in
    the US.
</p>
<a class="btn btn-primary btn-block plain-link" href="https://funding.communitybridge.org/projects/kicad">Donate via TLF</a>
