<div class="kicon kicon--light fixed-top">
    <div class="container-sm">
        <div class="kicon__row">
            <div class="kicon__text--light">
                KiCon 2024 in Asia is coming in November! <br/>  <a href="https://kicon.kicad.org/asia2024" target="_blank">
                    Get your tickets now</a> to join the largest KiCad conference ever.
            </div>
            <div class="kicon__close-btn">
                <button type="button" aria-label="Close KiCon banner"></button>
            </div>
        </div>
    </div>
</div>